{% extends 'emails/base.html.twig' %}
{% trans_default_domain 'email' %}
{% block subject %}
    {{ subject }}
{% endblock %}

{% block body %}
    <div class="header">
        <span class="header_title">{{ 'password_reset_request' | trans }}</span>
        <p class="header_text">{{ 'dear' | trans }} {{ user.fullName }},</p>
    </div>
    <div class="detailed-information">
        <p class="detailed-information_text">
            {{ 'requested_reset_password' | trans }}<br/>
            {{ 'visit_link_new_password' | trans }} -
            <a href="{{ front_url_reset_password }}" class="button">{{ 'reset_password' | trans }}.</a><br/>
            {{ 'ignore_email' | trans | raw }} {{ expiredAt }}
            <br/><br/>{{ 'copy_url' | trans }}

            <br/><br/>{{ front_url_reset_password }}
        </p>
    </div>
{% endblock %}